<div class="usertableheader">
  <div class="table-row usercont">
    <div class="userimg">
      <span>Name</span>
    </div>
    <div class="usermob">
      <span>Mobile No</span>
    </div>
    <div class="useremail">
      <span>Email Id</span>
    </div>
    <div class="useramcstarted" *ngIf="activeuser">
        <span>Amc Started</span>
      </div>
    <div class="useramcended" *ngIf="activeuser">
      <span>Amc Ended</span>
    </div>
    <div class="usercity" *ngIf="!activeuser">
      <span>City</span>
    </div>
    <div class="useractive" *ngIf="!activeuser"><span>Active</span></div>
    <div class="useraction">Action</div>
  </div>
</div>
