.header {
    background: #fff;
    margin-top: 0;
    margin-left: 80px;
    height: 80px;
    display: flex;
    justify-content: space-around;
    position: sticky;
    top:0;
    align-items: center;
    z-index: 999;
}
.search {
  width: 75%;
  .inputbox{
    padding:0.8em;
    border-radius:20px;
    outline: none;
    border:none;
    border:1px solid #ccc;
    width:60%;
    font-size:0.8em;
    margin: 0 2em;
  }
  .btnsearch{
    background-color: #8C7FEE;
    padding:0.7em 1.5em;
    font-size: 1em;
    outline: none;
    border-radius:20px;
    color:#fff;
  }
}

