.table-row {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  flex-grow: 0;
  -webkit-flex-grow: 0;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  .userimg {
    width: 20%;
  }
  .usermob {
    width: 10%;
  }

  .useremail {
    width: 220px;
  }

  .usercity, .amcstarted {
    width: 10%;
  }

  .useractive, .amcstarted {
    width: 8%;
  }
  .useraction {
    .action {
      width: 32px;
      height: 32px;
      display: block;
      background-color: #eee;
      border-radius: 50%;
      text-align: center;
      line-height: 2;
      cursor: pointer;
    }
  }
}
.table-row > div {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.usercont {
  .userimg {
    display: inline-flex;
  }
  .username {
    line-height: 1.5;
    padding-left: 8px;
  }
}
.user {
  background: #fff;
  padding: 1em;
  border-radius: 10px;
  margin: 10px 0;
}
.submenu{
  background: #F7F8FC;
  position: absolute;
  width: 150px;
  height: 0;
  right:50px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease 0s, visibility 0s linear 0.2s;
  margin-top:24px;
  .dropdown-item{
      border-bottom: 1px solid #f2f2f2;
      padding:1em ;
  }
}
.open{
  transition: all 1s;
}
.open > .submenu{
visibility: visible;
opacity: 1;
height: auto;
padding-bottom: 0px;
}
.user:hover {
  background-color: #f9d86e;
}
