<div class="user">
  <div class="table-row usercont">
    <div class="userimg">
      <img src="../../../../assets/images/usermenu.png" alt="user image" />
      <span class="username">Deepak kumar</span>
    </div>
    <div class="usermob">
      <span>9991062244</span>
    </div>
    <div class="useremail">
      <span>deepakjangra8@gmail.com</span>
    </div>
    <div class="usercity" *ngIf="!activeuser">
      <span>Delhi</span>
    </div>
    <div class="useractive" *ngIf="!activeuser"><span>Yes</span></div>
    <div class="amcstarted" *ngIf="activeuser">
        <span>27 Nov, 1990</span>
      </div>
      <div class="amcended" *ngIf="activeuser"><span>27 Nov, 2090</span></div>
    <div class="useraction" appOpendropdown>
      <span class="action"><fa-icon [icon]="faEllipsisV"></fa-icon></span>
      <div class="submenu">
          <div class="dropdown-item">Profile</div>
          <div class="dropdown-item">Invoices</div>
          <div class="dropdown-item">Send Email</div>
          <div class="dropdown-item">Send Sms</div>
          <div class="dropdown-item">Complaint</div>
      </div>
    </div>
  </div>
</div>
