<app-pagehader>
  <div class="pagetitle">Customers</div>
  <div class="pagesubtitle">Active Customers</div>
</app-pagehader>
<div class="createuser">
  <button class="designedbutton" [routerLink]="['/addcustomer']">Add Customer</button>
</div>
<div class="usertable">
  <div class="tableheader">
    <app-usertableheader [activeuser]="true"></app-usertableheader>
  </div>
  <div class="tabledata">
    <app-useritem
      [activeuser]="true"
      *ngFor="let user of [1, 2, 3, 4, 5, 6, 7]"
    ></app-useritem>
  </div>
</div>
