<app-pagehader>
    <div class="pagetitle">Userbase</div>
    <div class="pagesubtitle">User List</div>

  </app-pagehader>
  <div class="createuser">
    <button class="designedbutton" [routerLink]="['/createuser']">Create User</button>
  </div>
  <div class="usertable">
      <div class="tableheader">
        <app-usertableheader [activeuser]="false"></app-usertableheader>
      </div>
      <div class="tabledata">
        <app-useritem [activeuser]="false" *ngFor="let user of [1,2,3,4,5,6,7]"></app-useritem>
      </div>
    </div>
