<app-pagehader>
    <div class="pagetitle">Customers</div>
    <div class="pagesubtitle">Add Customers</div>
  </app-pagehader>
  <app-back></app-back>

  <div class="createuserform base">
    <form [formGroup]='customerForm' (ngSubmit)="submit()">
      <app-personaldetailsform formControlName="profile"></app-personaldetailsform>
      <app-amcdetailsform formControlName="amc"></app-amcdetailsform>
      <div class="textcenter">
          <button class="custombutton purplebg bigbtn">Submit</button>
      </div>
    </form>
  </div>
  <p>
      Form is {{customerForm.valid ? 'Valid' : 'Invalid'}}
    </p>

    <pre>
    {{customerForm.value | json}}
    </pre>
