<div class="searchresultcont">
  <form [formGroup]="searchfilter">
    <div class="userfilter">
      <div class="formitems">
        <p><label for="usertype">User Type</label></p>
        <mat-form-field>
          <mat-label>Choose User</mat-label>
          <mat-select formControlName="usertype">
            <mat-option [value]="'retail'"> Retail User</mat-option>
            <mat-option [value]="'amazon'"> Amazon User</mat-option>
            <mat-option [value]="'distributor'"> Distributor</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="formitems">
        <p><label for="amcdate">Amc Date</label></p>

        <mat-form-field >
          <input
            matInput
            [matDatepicker]="picker"
            name="amcdate" id="amcdate" formControlName="amcdate"
            placeholder="Choose a date"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="formitems">
        <p><label for="status">Status</label></p>
        <mat-slide-toggle class="toggle" name="status" formControlName="status">Active</mat-slide-toggle>
      </div>
      <div class="formitems">
        <button class="btnsearch" (click)="applyFilters()">
          Apply filters
        </button>
      </div>
    </div>
  </form>
  <div class="searchno"><p class="num">28 User Found</p></div>

  <div class="searchitems">
    <div class="tabledata">
        <app-useritem
          [activeuser]="true"
          *ngFor="let user of [1, 2, 3, 4, 5, 6, 7]"
        ></app-useritem>
      </div>
    <div class="searchitem"></div>
  </div>
</div>
