.searchitems {
  margin: 1em 0;
  padding-bottom: 1em;
  min-height: 660px;
}
.userfilter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.designedinput{
  margin: 1em 0;
}
.btnsearch{
  background-color: #9898D6;
  padding:0.7em 1.5em;
  font-size: 1em;
  outline: none;
  border-radius:20px;
  color:#fff;
}
.toggle{
  margin: 1em 0;
}
