<div class="amcform" [formGroup]="form">
    <div class="formheading">Amc Details</div>
    <div class="flx">
      <div class="form-control">
        <p><label class="textcolor" for="startdate">Start Date</label></p>
        <mat-form-field>
          <input matInput [matDatepicker]="picker" name="startdate" formControlName="startdate" id="startdate" placeholder="Choose a date" />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="form-control amc">
        <p><label class="textcolor" for="duration">Amc Duration</label></p>
        <mat-form-field>
          <mat-label for="duration">Duration</mat-label>
          <mat-select formControlName="duration" name="duration" id="duration">
            <mat-option [value]="0.5"> 6 Month</mat-option>
            <mat-option [value]="1"> 1 Year</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div></div>
    </div>
</div>


