
<div class="profileform" [formGroup]="form">
    <div class="formheading">Personal Details</div>
    <div class="flx">
        <div class="form-control">
            <p><label class="textcolor" for="name">First Name</label></p>
            <input type="text" formControlName="firstName" id="first-name" name="name" class="inputbox" placeholder="Enter First Name" />
        </div>
        <div class="form-control">
            <p><label class="textcolor" for="lastname">Last Name</label></p>
            <input formControlName="lastName" id="last-name" type="text" name="lastname" class="inputbox" placeholder="Enter Last Name" />
        </div>
        <div class="form-control">
            <p><label class="textcolor" for="mobileno">Mobile no</label></p>
            <input type="text" formControlName="mobileno" id="mobile-no" name="mobileno"  class="inputbox" placeholder="Enter Mobile no" />
        </div>

    </div>

    <div class="flx">
        <div class="form-control">
            <p><label class="textcolor" for="emailid">Email id</label></p>
            <input type="email" name="emailid" formControlName="email" id="email" class="inputbox" placeholder="Enter Email id" />
            <div *ngIf="emailControl.touched && emailControl.hasError('required')" class="error">
                email is required
              </div>
          </div>
        <div class="form-control">
            <p><label class="textcolor" for="address">Address</label></p>
            <input type="text" rows="5" cols="8" formControlName="address" id="address" name="address" class="inputbox" placeholder="Enter Address" />
        </div>
        <div class="form-control">
            <p><label class="textcolor" for="city">City</label></p>
            <input type="text" name="city" formControlName="city" id="city"  class="inputbox" placeholder="Enter City" />
        </div>
    </div>
</div>
