
.formheading{
  color: #8C7FEE;
  font-size: 1.5em;
  position: relative;

}
.createuserform form{
  margin-top: 1em;
}
.formheading::after{
content: '';
display: inline-block;
border-bottom: 3px solid #8C7FEE;;
width:70px;
top:15px;
margin-left:5px;
position: absolute;

}
.flx{
  display: flex;
  margin:1em 0;
  justify-content: space-between;
}
.form-control{
  margin: 1em  0;
}
.form-control > p {
  padding: 5px;
  margin: 0.5em  0;
}
.inputbox{
  width: 300px;;
}
.flxclr{
  flex: none;
  clear: both;
}
textarea{
  flex: 0 0 300px
}
