.overviewcont{
  display: flex;
  justify-content: space-around;
}
.overview {
  padding: 1em 5em;
  text-align: center;
  border-radius: 10px;
  color: #fff;
  .ovrno{
    font-size: 2.25em;
  }
  .ovrtitle{
    font-size:2.25em;
  }
}

app-overview {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
